<h1>Hi, welcome to Intel!</h1>
<p>We are inspired to:</p>
<ul>
  <li>Drive innovation that makes the world safer, builds healthy and vibrant communities, and increases productivity.</li>
  <li>Harness our reach around the globe to better society, business, and the planet.</li>
  <li>Push ourselves and our industry peers to be more responsible, inclusive, and sustainable.</li>
</ul>


<h4>Vision</h4>
To be the trusted performance leader that unleashes the potential of data.
<br />
<br /><h4>Mission</h4>
We engineer solutions for our customers’ greatest challenges with reliable, cloud to edge computing, inspired by Moore’s Law.
<br />
<br />
<br /><p>To learn more about intel, go to <a href='https://www.intel.com/content/www/us/en/homepage.html/'>this website</a></p>
