<h2>EMPLOYEE'S INFORMATION</h2>
<br />
<!--<table class="table">
  <tr ngclass="btn-primary">
    <th class="tbl2">Employee Name</th>
    <th class="tbl2">Employee Email</th>
    <th class="tbl2">Employee Email</th>
    <th class="tbl2">Employee Password</th>
    <th class="tbl2">Employee HP Number</th>
    <th class="tbl2">Edit</th>
    <th class="tbl2">Delete</th>
  </tr>
  <tr *ngFor="let emp of employees | async">
    <td class="tbl2">{{emp.employeeName}}</td>
    <td class="tbl2">{{emp.employeeEmail}}</td>
    <td class="tbl2">{{emp.employeePassword}}</td>
    <td class="tbl2">{{emp.employeeHP}}</td>
    <td class="tbl2">
      <button type="button" class="btn btn-info" matTooltip="Click Edit Button" (click)="loadEmployeeToEdit(employee.EmployeeID)">Edit</button>
    </td>
    <td class="tbl2">
      <button type="button" class="btn btn-danger" matTooltip="Click Delete Button" (click)="deleteEmployee(employee.EmployeeID)">Delete</button>
    </td>
  </tr>

</table>-->
<div class="container py-5">
  <h3 class="text-center">List of Employees</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-center text-uppercase">
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Password</th>
        <th>Employee HP Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.employeeName}}</td>
        <td>{{emp.employeeEmail}}</td>
        <td>{{emp.employeePassword}}</td>
        <td>{{emp.employeeHP}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" style="margin-top: 30px; margin-right: 15px;" (click)="mainpage()">Back</button>
  <button class="btn btn-primary" style="margin-top: 30px;" [routerLink]="['/edit']">Edit</button>
</div>
